p.transform {
  transform: scale(1.4, 1.5);
  transform-origin: center;
}

p {
  background-color: #1111;
  width: 50px;
  height: 50px;
  transition-property: transform;
  transition-duration: 2s;  
  font-weight: bold;
  text-align: center;
}

p:hover {
    transform: translateY(65px)
    rotate(260deg);
}


