div.module-table-wrapper
  h1 I believe good design should be:
    div.module-table
      div.item-box
        div.item-content
          h4  Simple
      div.item-box
        div.item-content
          h4  Attractive
      div.item-box
        div.item-content
          h4  Bold