doctype html
html
  //- - var baseUrl = 'http://localhost:3000/'
  //- - var baseUrl = 'https://jestva.github.io/portfolio'

  block config
  head
    title=SiteTitle
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,800")  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js")
  body
    main
      block content