.portfolio-content {
  position: absolute;
  top: 100vh;
  overflow-x: hidden;
  width: 100%;
  background-color: #55549c;
  min-height: 100vh;
  text-align: center;
  padding-top: 10vh;
  color: #fff;
  font-size: 24px;
}
.portfolio-copy {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.portfolio-embeds {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  // width: 100%;
  // padding: 2rem;
  justify-content: center;
  // background-color: #55549c;
  // position: absolute;
  // top: 100vh;
  // overflow-x: hidden;
  // height: 100vh;
}

.embeds {
  padding: 2rem;
}

.hero-text {
  font-size: 32px;
  color: #fff;
  padding-bottom: 5vh;
  // align-items: center;
}

p {
  padding: 5vh;
  // max-width: 500px;
}

.bigger {
  font-size: 32px;
  font-weight: 600;
  color: yellow;
  padding-top: 0;
}



// Module table style

.module-table-wrapper {
  background-color: #ff6847;
  align-items: center;
  font-size: 32px;
  // font-weight: bold;
  text-align: center;
  // margin-top: 250px;
  // padding-bottom: 30px;
  // position: absolute;
  bottom: 0vh;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}


.module-table {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  justify-content: center;
  background-color: #ff6847;
  font-size: 28px;
  // padding-left: 25px;
  overflow: hidden;
  :hover {
    background-color: #f3cb09;
    // transition: 1s;
  }
}

.item-box {
  border: 8px solid #f3cb09;
  position: relative;
  margin: 1rem;
  padding: 2rem;
  // :hover {
  //   border: 8px solid black;
  // }
}

.space {
  padding-top: 25px;
  // padding-bottom: 25px;
}

.website {
  max-width: 600px;
}

.website-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 47px;
}

.website-hero-text {
  max-width: 40vh;
  padding-bottom: 1.5rem;
}

.opacity {
  opacity: 0.7;
  transition: all 1s;
}

.opacity:hover {
  opacity: 1;
  transform: scale(1.05);
}
