.portfolio-embeds {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
  padding: 2rem;
  justify-content: center;
  background-color: teal;
}

.embeds {
  padding: 2rem;
}


#portfolio-content {
  font-size: 5vh;
  color: #e6e6e6;
  background-color: teal;
  text-align: center;
  font-weight: bold;
  line-height: 4rem;
  padding-top: 1rem;
}