.portfolio-content {
  position: absolute;
  top: 100vh;
  overflow-x: hidden;
  width: 100%;
  background-color: #55549c;
  min-height: 100vh;
  text-align: center;
  padding-top: 10vh;
  color: #fff;
  font-size: 24px;
}
.portfolio-copy {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.portfolio-embeds {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  // width: 100%;
  // padding: 2rem;
  justify-content: center;
  // background-color: #55549c;
  // position: absolute;
  // top: 100vh;
  // overflow-x: hidden;
  // height: 100vh;
}

.embeds {
  padding: 2rem;
}

.hero-text {
  font-size: 32px;
  color: #fff;
  padding-bottom: 5vh;
  // align-items: center;
}

p {
  padding: 5vh;
  // max-width: 500px;
}

.bigger {
  font-size: 32px;
  font-weight: 600;
  color: yellow;
  padding-top: 0;
}
