extends _component/layout/layout
block config  
  - var SiteTitle = "Dorin\'s Portfolio";
block content
  include _component/animation/animation
  include _component/about-me/about-me
  include _component/portfolio-embeds/portfolio-embeds
  //- include _component/module-table/module-table