extends _component/layout/layout
block config  
  - var SiteTitle = "Dorin\'s Portfolio";
block content
  #ani-1
  #ani-2
  include _component/animation/animation
  include _component/about-me/about-me
  include _component/portfolio-embeds/portfolio-embeds