extends _component/layout/layout
block config  
  - var SiteTitle = 'Dorin\'s Portfolio';
block content
  include _component/animation/animation
block content-1  
  //- include _component/hover-me/hover-me
  include _component/about-me/about-me
  